<!doctype html>
{% extends 'base.html' %}
{% block title %} About Hiking Trail {% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/about.css">
<body class="background-about">
    <div class="margin">
<h4 id="about" class="bold container heads center text-center justify-content-center ">About us</h4>
<p class=" container center text-center content foreground justify-content-center margin padding wrap  form "> We believe that nature is what unites us all. Wherever we go — 
    from lush forests to rolling hillsides to city greenways — 
    we’re all seeking the same vibes. Breathing in the fresh air. 
    Feeling the sun on our cheeks. Reveling in the sound of branches in the breeze. 
    That’s what inspired us from the beginning, and it’s what keeps us exploring today.</p>
</div>
</body>
{%endblock%}