
 
<!doctype html>
{% extends 'base.html' %} 
{% block title %} Hiking Trail FORM {% endblock %}

{% block body %}
<h1>
    Name:-
    {{detailed_trail.trail_name}}
</h1>
<p>
    Summary:-
    {{detailed_trail.summary}}
   
</p>
<p>
Image :-
<img src="{{detailed_trail.image}}">

</p>
<p>
Length:-{{detailed_trail.trail_length }}
</p>
 <p>
     Latitude:-  {{detailed_trail.latitude}}
 </p>   
<p>
    Longitude:- {{detailed_trail.longitude}}
</p>  
<p>
    Difficulty:-{{detailed_trail.difficulty}}
</p> 
<p>
    star_rating:-  {{detailed_trail.star_rating }}
</p>
<p>
    comments:- {{detailed_trail.comments}}

</p>
   


<form action="/confirmation" method="POST">
    <input type="hidden" name="selected_trail_id" value="{{detailed_trail.trail_id}}">
    <input type="submit" name= "explore " value="explore">
</form>
<form action="/search_hikes"> 
    <input type=submit name='pass'value="pass">
</form>


{% endblock  %}
