
<!doctype html>
{% extends 'base.html' %}
{% block title %} SELECTED HIKES{% endblock %}

{% block body %}


        <p>
       
                {% for trail in trails %}"
                <form action="/detailed_trails" method="GET">
                <li>Name</li>
                <h1>{{ trail.trail_name }}</h1>
                Summary
                <p>{{trail.summary}}</p>
                Image
                <img src= "{{trail.image}}"> 
                <input type="hidden" name="trail_id" value="{{trail.trail_id}}">
                <input type="submit"name='select'value='select'>
            </form>
                {% endfor %}
        
            
        </p>
    
    


{% endblock %}