<!doctype html>
{% extends 'baseforlogin.html' %}
{% block title %} ~~~~HIKING TRAILS~~~~~ {% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <link rel="stylesheet" type="text/css" href="/static/homepage.css">

  <h2>Create an Account</h2>
  <form   action = "/login_users" method="GET" >
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit" name= "LOGIN " value="login" ></p>
    </form>
    <form action="/show_signup" method="GET">
    <input type ="submit" name ="sign up " value="sign up"> 
    
  </form>
{% endblock %}