<!doctype html>
{% extends 'base.html' %}
{% block title %} Hiking Trail FORM {% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="/static/css/search-hikes.css">
<body class="background-for-search align-items-center">
<div class="align-items-center">

    
    <!-- <p class="foreground wrap align-items-center justify-content-center" -->
    
      <!-- <div class=" form-alignment  foreground align-items-center"> -->
      <div id="form" class=" justify-content-center font padding-top  wrap">

        <form  class=" form foreground align-items-center padding-top" action="/result_hikes" method="GET">
          <div class="heads" >
          Pincode
        <input class="content" type ="text" name="pincode" value ="pincode">
          </div>
        <p>
          </p>
        
        <div class="heads"> 
          Difficulty Level
        
        <input type ="radio" name ="Difficulty" value = "black" >
        <label class="content">Black</label>
      
        <input type ="radio" name ="Difficulty" value = "blue" >
        <label class="content">Blue</label>      
        
        <input type ="radio" name ="Difficulty" value = "blueBlack" >
        <label class="content">Black-blue</label>  
      <div id="note"> * Black = Most difficult , 
              Blue = Easy , 
              black-blue=Difficult . 
      </div>
    </div>
        <p>
          
        </p>
        <div class="heads">Radius 
          <input class="content" type = "text" name = "radius" value="radius">
        </div>

          <input   class ="buttons align-items-center" type="submit">
        </form>
      </div>
    </div>
  <!-- </div> -->
 

</body>
    
{% endblock %}
   