<!doctype html>
{% extends 'baseforlogin.html' %}
{% block title %} ~~~~HIKING TRAILS~~~~~ {% endblock %}

{% block body %}
<body class="background-signup">
  <link rel="stylesheet" type="text/css" href="/static/css/signup.css">
  
  <div class="container foreground wrap form center justify-content-center margin-top ">

  
  <form  action="/create_users" method="POST">
    <div class="heads bold margin"> Create an account  </div>
    <p class="left">
        First Name   <input class="content right" type="text" name="first_name" >
      </p>
      <p class="left">
        lastname   <input  class="content right" type="text" name="last_name">
      </p>
      <p class="left">
        Email   <input  class="content right" type="text" name="email">
      </p>
    
    <p class="left">
      Password   <input  class="content right" type="password" name="password">
    </p>

    <p class="center">
      <input  class="buttons left" type="submit" >
      
    </p>
  </form>
  </div>
{% endblock %}